<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pdmii.aulas.notification">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main"
            android:label="@string/title_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Experimento1"
            android:label="@string/title_experimento1"/>
        <activity android:name=".Experimento2"
            android:label="@string/title_experimento2"/>
        <activity android:name=".Experimento3"
            android:label="@string/title_experimento3"/>
        <activity android:name=".Experimento4"
            android:label="@string/title_experimento4"/>
        <activity
            android:name=".Atividade2"
            android:label="@string/title_activity_atividade2">
        </activity>
    </application>

</manifest>
